## Compiled JavaScript files
**/*.js
**/*.js.map

# Typescript v1 declaration files
typings/

node_modules/

# for local development run $ export GOOGLE_APPLICATION_CREDENTIALS="./service-key.json"
service-key.json
